NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_USE_MOCKS=true
BETTER_AUTH_SECRET=ilovecoding101(example sercet not the actual secret)
BETTER_AUTH_URL=http://localhost:3000
DATABASE_URL = postgresql://user:password@host/dbname (example secret ill send the real secret)
RESEND_API_KEY=someResendAPIKEY
RESEND_FROM_EMAIL=noreply@some-domain.com
