# VSCode Stuff
.vscode/
.idea/
.DS_Store

# python stuff
.venv/
__pycache__/
*.pyc

# env
.env
.env.local
*.env

# node
node_modules/
.next/

# Test Files
cookies.txt
cookiesB.txt
testing.md

# fastembed / HF model cache
.fastembed_cache/
fastembed_cache/
local_cache/